@model Holidays;

@{
	ViewData["Title"] = "Holidays";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>Please complete this form to book holidays</p>
</div>

@Html.ValidationSummary()

<form method="POST" class="holidays">
	<div class="row row-spacer">
		<div class="col-md-4">
			<label for="StartDate">Start Date</label>
		</div>
		<div class="col-md-8">
			<input type="Date" class="form-control" name="startdate" id="startdate" />
		</div>
	</div>
	<div class="row row-spacer">
		<div class="col-md-4">
			<label for="EndDate">End Date</label>
		</div>
		<div class="col-md-8">
			<input type="Date" class="form-control" name="enddate" id="enddate" />
		</div>
	</div>
	<div class="row row-spacer">
		<div class="col-md-4">
			<label for="Reason">Reason for Holiday</label>
		</div>
		<div class="col-md-8">
			@Html.TextBoxFor(x => x.Reason, null, new { @class = "form-control" })
		</div>
	</div>
	<div class="col-md-8 offset-md-4">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
