@model List<Holidays>;

@{
	ViewData["Title"] = "List of Holidays";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>

<div class="col">
	<table>
		<thead>
			<tr>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Reason</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var Holidays in Model)
			{
				<tr>
					<td> @Holidays.StartDate</td>
					<td> @Holidays.EndDate</td>
					<td> @Holidays.Reason</td>
				</tr>


			}
		</tbody>
	</table>

</div>

