@{
    ViewData["Title"] = "Menu";
}
<div class="text-center">
    <h1>Menu</h1>
</div>
<div class="row text-center">
    <div class="col">
        <p>
            <a href="/downloads/OfficialMenu.pdf" target="_blank" class="btn btn-primary">Download our menu</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-starters-tab" data-toggle="tab" href="#nav-starters" role="tab" aria-controls="nav-starters" aria-selected="true">Starters</a>
                <a class="nav-item nav-link" id="nav-mains-tab" data-toggle="tab" href="#nav-mains" role="tab" aria-controls="nav-mains" aria-selected="false">Mains</a>
                <a class="nav-item nav-link" id="nav-desserts-tab" data-toggle="tab" href="#nav-desserts" role="tab" aria-controls="nav-desserts" aria-selected="false">Desserts</a>
                <a class="nav-item nav-link" id="nav-drinks-tab" data-toggle="tab" href="#nav-drinks" role="tab" aria-controls="nav-drinks" aria-selected="false">Drinks</a>
            </div>
        </nav>
    </div>
    <div class="col-12 ">
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-starters" role="tabpanel" aria-labelledby="nav-starters-tab">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Starters</h2>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/starter.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Pancetta, watercress and mozzarella arancini</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/salad.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Chicken caesar salad</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/soup.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Straciatella soup</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/mushrooms.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Roasted mushrooms with rocket pesto</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/bread.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Cheesy sage and garlic bread</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/olives.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Ascolana olives</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-mains" role="tabpanel" aria-labelledby="nav-mains-tab">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Mains</h2>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/main3.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Fettuccine alfredo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/main2.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Chicken schnitzels with puttanesca tomato sauce</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/main.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Ploughman's pizza</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/pizza.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Ultimate marghertia pizza (additional toppings available)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/spag bol.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Spaghetti bolognese</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/sausage.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Italian sausage and porcini mushroom casserole</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="tab-pane fade" id="nav-desserts" role="tabpanel" aria-labelledby="nav-desserts-tab">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Desserts</h2>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/dessert.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Negroni cheescake</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/ice creammm.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Brown butter caramel gelato</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/chocolate.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Frangelico chocolate hazelnut tart</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/cake.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Limoncello drizzle cake</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/pannacotta.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Peach bellini panna cotta</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/tiramisu.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Mocha tiramisu torte</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="tab-pane fade" id="nav-drinks" role="tabpanel" aria-labelledby="nav-drinks-tab">
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Drinks</h2>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/orange juice.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Orange juice</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/wine actual.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>House wine</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/beer maybe.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Beer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/negroni.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Negroni</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/peach bellini.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Peach and passion fruit bellini</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="menu-wrapper">
                            <div class="image-wrapper" style="background-image:url('/images/cocktail.jpg')"></div>
                            <div class="copy-wrapper">
                                <p>Hugo cocktail</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>